@font-face {
  font-family: gill;
  src: url(./Gilroy-Regular.ttf);
}
@font-face {
  font-family: yy1;
  src: url(./Yq6R-LCAWCX3-6Ky7FAFrOF6kg.ttf);
}
*::selection {
  background-color: #777777;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #dadada;
  overflow: hidden;
}
#heading {
  background-color: #dadada;
  height: 100vh;
  padding-top: 11vw;
}
#heading h1 {
  font-family: yy1;
  font-size: 15vw;
  line-height: 15vw;
  letter-spacing: -4px;
  padding-left: 4vw;
}
#namediv {
  overflow: hidden;
}
#frontname {
  overflow: hidden;
}
.name {
  transform: translateY(100%);
  color: #1a1818;
}

.oname {
  transform: translateY(100%);

  color: #777777;
}
.oname::selection {
  color: #1a1818;
}

#page1 > p {
  margin-left: 3vw;
  font-size: 8vw;
  font-family: yy1;
}
#page1 p span {
  color: #777777;
}
#about {
  min-height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  padding: 3vw;
}

#rabout {
  height: 90vh;
  width: 40%;
  margin-top: 15vw;
  margin-right: 5vw;
  margin-left: 5vw;
}
#aboutimg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#aboutimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}
#leftabout {
  height: 100vh;
  width: 50%;
  margin-right: 5vw;
}
#leftabout p {
  font-size: 1.6vw;
  font-family: gill;
  color: #777777;
  line-height: 2.3vw;
  margin-top: 4vw;
}
#leftabout p span {
  color: #1a1818;
}
#leftabout svg {
  margin-top: 1vw;
  animation: rotateani 5s linear infinite;
}
@keyframes rotateani {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.abouth1 {
  padding-top: 3vw;
  font-size: 12vw;
  font-family: yy1;
  font-weight: 100;
  letter-spacing: -5px;
  text-decoration: underline;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
