@font-face {
  font-family: gill;
  src: url(./Gilroy-Regular.ttf);
}
@font-face {
  font-family: yy1;
  src: url(./Yq6R-LCAWCX3-6Ky7FAFrOF6kg.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(80, 80, 80);
}

*::selection {
  background-color: #777777;
}

#main > svg {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #dadada;
  overflow: hidden;
}
#heading {
  background-color: #dadada;
  height: 100vh;
  padding-top: 11vw;
}
#heading h1 {
  font-family: yy1;
  font-size: 15vw;
  line-height: 15vw;
  letter-spacing: -4px;
  padding-left: 4vw;
  white-space: nowrap;
}
#namediv {
  overflow: hidden;
}
#frontname {
  overflow: hidden;
}
.name {
  transform: translateY(100%);
  color: #1a1818;
}

.oname {
  transform: translateY(100%);

  color: #777777;
}
.oname::selection {
  color: #1a1818;
}

#page1 > p {
  margin-left: 3vw;
  font-size: 8vw;
  font-family: yy1;
}
#page1 p span {
  color: #777777;
}
#about {
  min-height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  padding: 3vw;
}

#rabout {
  height: 90vh;
  width: 40%;
  margin-top: 15vw;
  margin-right: 5vw;
  margin-left: 5vw;
  z-index: 999;
}
#aboutimg {
  height: 80%;
  width: 80%;
  z-index: 999;
}
#aboutimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}
#leftabout {
  height: 100vh;
  width: 50%;
  margin-right: 5vw;
}
#leftabout p {
  font-size: 1.6vw;
  font-family: gill;
  color: #777777;
  line-height: 2.3vw;
  margin-top: 4vw;
}
#leftabout p span {
  color: #1a1818;
}
#leftabout svg {
  margin-top: 1vw;
  animation: rotateani 5s linear infinite;
}
@keyframes rotateani {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.abouth1 {
  padding-top: 3vw;
  font-size: 10vw;
  margin-left: 1vw;
  font-family: yy1;
  font-weight: 30;
  letter-spacing: -5px;
  border-bottom: 2px solid black;
  text-align: center;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: #dadada;
}
#firstprt {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  overflow: hidden;
}
#imgdip {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 80%;
  width: 30%;
  overflow: hidden;
}
#imgdip img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 3;
  scale: 1;
}
#firstprt h1 {
  left: 0;
  font-size: 13vw;
  font-family: yy1;
  line-height: 17vw;
  white-space: nowrap;
  z-index: -1;
  font-weight: 900;
  transition: opacity ease 1s;
}
#firstprt h1:nth-child(3) {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  z-index: 4;
  color: transparent;
}
#page4 {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 42, 118);
  perspective: 8000px;
}

.leftpage {
  width: 40%;
  height: 80%;
  background-color: #fff;
  transform-origin: right;
  transform: rotateY(90deg);
  backface-visibility: hidden;
}
.rightpage {
  width: 45%;
  height: 80%;
  background-color: #fff;
  transform-origin: left;
  transform: rotateY(-90deg);
}

#page5 {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(184, 178, 189);
  perspective: 5000px;
}
